<br><br>
<div class="container">

  <form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
    <div class="jumbotron">
      <div *ngFor="let question of questions; index as k">
        <ng-container *ngIf="step == k">
          Q{{step+1}}. {{questions[k].name}} <br><br>
          <div *ngFor="let option of questions[k].options; index as i" class="form-check form-check-inline">
            <input class="form-check-input" (change)="changeDetected(k, i)" type="radio" name={{option.id}} formControlName="answer1" id="answer1" value="{{option.name}}">
            <div>
              <div class="form-check-label" for="answer1">{{option.name}}<br/></div>
            </div>
        </div>
        </ng-container>

      </div>
      <br><br>
    </div>
    <button type="button" class="btn btn-success" *ngIf="step >= 1" (click)="previousQuestion(step)">Back</button>
    <button type="button" class="move-right btn btn-success" *ngIf="step < 9"(click)="nextQuestion(step)">Next</button>
    <!-- <button type="submit" class="btn btn-danger" *ngIf="step == 5">Submit</button> -->

    <!-- Button trigger modal -->
    <button type="submit" class="move-right btn btn-primary" *ngIf="step == 9" data-toggle="modal" data-target="#questionModal">
      Submit
    </button>

    <!-- Modal -->
    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="questionModalLabel">Quiz Completed</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You have scored: {{counter * 10}} %
          </div>
          <div class="modal-footer">
            <!-- <button type="button" (click)="step = 0" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <a href="#" type="button" class="btn btn-primary">Go back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


