<br>


<div class="container">
  <div class="jumbotron">
    <h2>Welcome to Quizlet</h2><br>
      <div class="parent">
        <p>
          <b>IDE:</b> We recommend having an environment ready, so you can solve problems outside of browser. <br>
          <b>Resources:</b> You can use help files and other resources that you normally use. <br>
          <b>Test Duration:</b> This test normally takes 30min, but you have up to 45min (no breaks allowed). <br>
          Number of Questions: <b>10</b>
        </p> <br>
        <button routerLink="/questions"class="continue btn btn-success">
          Continue
        </button>
      </div>
  </div>
</div>
